<% if resource.errors.any? %>
  <div id="row error_explanation">
    <h5>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h5>
    <ul class="list-unstyled red-text">
      <% resource.errors.messages.each do |key, value| %>
        <li><%= I18n.t(key) + ' ' + value.join(',') %></li>
      <% end %>
    </ul>
  </div>
<% end %>
