<div class="row mt-5">
  <div class="col-12">
    <%= link_to "Registrar nueva compra", new_purchase_path, class: "btn btn-primary"%>
  </div>
</div>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"># Orden</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.order_number, purchase_path(purchase), class: "show-details" %></td>
          <td><%= purchase.created_at %></td>         
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

