<div class="row mt-5">
  <div class="col-12">
    <h2>Ultimas transacciones</h2>
  </div>
</div>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código de orden</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= link_to transaction.order_number, transaction_path(transaction), class: "show-details" %></td>
          <td><%= transaction.created_at %></td>         
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

