<div class="row mt-5">
  <div class="col-12">
    <h2>Ultimas transacciones</h2>
  </div>
</div>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th># de transacción</th>
        <th>Tipo de transacción</th>
        <th>Fecha de creación</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.id %></td>
          <td>
            <% if transaction.type == "OutboundOrder" %>
              Orden de egreso
            <% elsif transaction.type == "InboundOrder" %>
              Orden de ingreso
            <% else %>
              Ajuste de cantidades
            <% end %>
          </td>
          <td><%= transaction.created_at.to_s(:standart_format) %></td> 
          <td>
            <%= link_to transaction, class: "general-green" do %> 
              <i class="far fa-eye"></i> Ver detalles
            <% end %>
          </td>         
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>

