<div class="row mt-5">
  <div class="col-12 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item breadcrumb-item-green"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Aviso de existencias</li>
      </ol>
    </nav>
  </div>
  <div class="col-12">
    <h3>Configuración de correos para aviso de existencias</h3>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <p>Listado de correos electrónicos a los cuales se hará llegar el aviso de bajas existencias de productos marcados con una cantidad minima de existencias. 
    Los correos deberán estar separados por comas (<em>prueba@gmail.com, contacto@gmail.com</em>), en caso de que no exista al menos un correo definido el aviso no será enviado.</p>
  </div>
</div>

<div class="row mt-5"> 
  <%= form_for @settings, url:update_setting_path, html: {class: 'col-xl-8' } do |f| %>
    <div class="form-group row">
      <%= f.label "Listado de correos electrónicos:", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :value, class: "form-control" , placeholder: "Correos separados por comas: prueba@gmail.com, contacto@gmail.com"%>
      </div>
    </div>

    <div class="form-group row mt-5">
      <div class="col-sm-10">
        <%= submit_tag "Guardar configuración", class: "btn btn-primary"  %>
      </div>
    </div>
    <% end %>
</div>




