<div class="row mt-5">
  <div class="col-12">
    <%= link_to "Registrar orden de egreso", new_outbound_order_path, class: "btn btn-primary"%>
  </div>
</div>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"># de orden</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @outbound_orders.each do |outbound_order| %>
        <tr>
          <td><%= outbound_order.id %></td>
          <td><%= outbound_order.created_at.to_s(:standart_format)%></td>    
          <td>
            <%= link_to outbound_order_path(outbound_order), class: "general-green" do %> 
              <i class="far fa-eye"></i> Ver detalles
            <% end %>     
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

