<% if @products.size > 1   %>
  <p>Los siguientes productos cuentan con existencias menores a las indicadas como cantidades minimas de existencias:</p>
<% else %>
  <p>El siguiente producto cuentan con existencia menor a la indicada como cantidad minima de existencia:</p>
<% end %>

<ol>
  <% @products.each do |product| %>
    <li>Código: <%= product.product_code.blank? ? "Sin código de producto" : product.product_code %> - <%= product.name %></li>
  <% end %>
</ol>