/* Comentario: Aqui se incluyen los estilos que no son especificos de una vista*/

// Comentario: creación de variables
$general-green: #5ca783;

/* Comentario: Esto agrega el '*' a los campos que son requeridos en un formulario */
.form-group.required .col-form-label:after {
  content:"*";
  color:red;
  font-weight: 600;
}

/* Comentario: estilos para que la caja de opciones adicionales al editar o acciones al ver el producto */
fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

/* Comentario: Estilos para el listado de productos  y usuarios*/


/* Comentario: Estilo del enlace a editar la informacion del producto y usuario */
a.edit-details, a.resend-invitation{
  color: #5ca783;
}

/* Comentario: colores para letras, iconos y botones */
.general-green{
  color: $general-green;
}

.general-red{
  color: #de4e46;
}

.bg-whitesmoke{
  background-color: whitesmoke;
}

.btn-primary{
  background-color: #5ca783;
  border-color: #5ca783;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #589c7b!important;
}

.btn-menu, .btn-logout{
  color: #158F54;
  background-color: #fff;
  border-color: #158F54;
}

.btn-menu:hover, .btn-logout:hover{
  color: #fff;
  background-color: #5ca783;
  border-color: #158F54;
}

.btn-outline-add {
  color: #5ca783;
  border-color: #5ca783;
}

.btn-outline-add:hover,.btn-outline-add:focus {
  color: #fff;
  background-color: #5ca783;
  border-color: #5ca783;
}

.red-text{
  color: #de4e46;
  font-weight: bold;
}

.hide{
  display: none;
}

// Comentario: estilos para el paginador

.page-item .page-link{
  color: $general-green;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #5ca783;
  border-color: #7d9064;
}

.search-form-icons { 
  position: relative; 
  input.form-control { text-indent: 2em; }
  .fa-search{
    position: absolute;
    top: 0.7em;
    left: 2em;
    font-size: 15px;
    color: grey; }
}

.advice{
  font-size: 0.9em;
}


.breadcrumb-item-green{
  color: #4f9071;
  font-weight: 600;
}

ol.breadcrumb{
  background-color: white;
}

.breadcrumb-item{
  font-size: 0.9em;
}