/*
 * Este archivo contiene los estilos para el inicio de sesión 
*/

.login {
    min-height: 100vh;
}

/* Imagen de la izquierda en el inicio de sesion */
.bg-image {
    background-image: url('http://www.ceysi.com.mx/images/productos/energias-renovables/energias-renovables.jpg');
    background-size: cover;
    background-position: center center;
}

/* Logotipo de la empresa */ 
.image {
    background-image: url('http://ceysi.com.mx/images/logo.jpg');
    max-height: 100px;
}

.brand {
    text-align: center;
}