.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('http://www.ceysi.com.mx/images/productos/energias-renovables/energias-renovables.jpg');
  background-size: cover;
  background-position: center center;
}

.image {
  background-image: url('http://ceysi.com.mx/images/logo.jpg');
  
  max-height: 100px;
}

.brand {
  text-align: center;
}