<div class="row mt-5">
  <div class="col-12">
    <%= link_to "Registrar nueva venta", new_sale_path, class: "btn btn-primary"%>
  </div>
</div>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código de orden</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= link_to sale.order_number, sale_path(sale), class: "show-details" %></td>
          <td><%= sale.created_at %></td>         
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

